<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.name.present? ? @user.first_name : @user.email %>,</h1>
    <p>
      You asked to reset your password for Street Art Orlando. Use the following code in the password
      reset confirmation screen:
    </p>
    <p>
      <%= @user.reset_password_token %>
    </p>
  </body>
</html>