<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
  <p>Submission Reported</p>
  
  <p>
    Report: <%= @report.id %>
    Submission ID: <%= @report.submission.id %><br/>
    Title: <%= @report.submission.title %><br/>
    Artist: <%= @report.submission.artist %>
  </p>
  </body>
</html>