<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
  <p>New Street Art Submitted</p>
  
  <p>
    ID: <%= @submission.id %><br/>
    Title: <%= @submission.title %><br/>
    Artist: <%= @submission.artist %>
  </p>
  </body>
</html>